<!doctype html>
<html lang="en" xmlns:th="http://www.themyleaf.org">
<head>
	<meta charset="UTF-8" />
	<title></title>

</head>
<body>
	
	<footer th:fragment="navbar" class="container-fluid footer-y pt-3">
	<div>&copy;&nbsp; All copy right reserved by younes ЮНЕС БУХТАШ 2021</div>
	<br>
	<div class="row"></div>
	 <!--<script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>-->
	 <script th:src="@{/js/jquery-3.5.1.js}"></script> 
     <script th:src="@{/js/popper.min.js}"></script>
     <script th:src="@{/js/bootstrap.min.js}"></script>
     <script th:src="@{/js/sweetalert.min.js}"></script>
     <script th:src="@{/js/deleteinfo.js}"></script>
	</footer>
	
</body>
</html>