<!doctype html>
<html lang="en" xmlns:th="http://www.themyleaf.org">
<head th:replace="layout/navbar::html_header">
	<meta charset="UTF-8" />
	<title></title>

</head>
<body>
	<nav th:replace="layout/navbar::navbar"></nav>
	<section> 
	<div class="container">
		<div class="text-center">
			<h1><img th:src="@{/img/user.png}" alt="" class="navimg" />List Employees</h1>
		</div>
		<div class="">
		 <a href="#addEmployeeModal" class="btn btn-success btn-md" data-toggle="modal" >New Employee</a>
		</div>
		
		<table class="table  table-striped table-bordered mt-2">
			<thead class="">  
			  <tr class="bg-primary">
				<th scope="col">ID#</th>
				<th scope="col">Name</th>
				<th scope="col">email</th>
				<th scope="col">Address</th>
				<th scope="col">Phone</th>
				<th scope="col">Information</th>
				<th scope="col">Action</th>
			  </tr>
			</thead>
			<tbody>
			  <tr  th:each="emp,status : ${listEmployees}">
				<th scope="row" th:text="${status.count}"></th>
				<td th:text="${emp.name}"></td>
				<td th:text="${emp.email}"></td>
				<td th:text="${emp.address}"></td>
				<td th:text="${emp.phone}"></td>
				<td><a th:href="@{'/employee/report/'+${emp.id}}"  id="detail" class="btn btn-primary btn-sm">Detail</a></td>
				<td>
				  <div class="d-inline-flex">
				   <a href="#updateEmployeeModal" data-toggle="modal" id="update" class="btn btn-success btn-sm"><span data-toggle="tooltip"></span>Update</a>
				   <a href="#deleteEmployeeModal" data-toggle="modal" id="delete"  class="btn btn-danger btn-sm" style="margin-right:40px;margin-left:10px"><span data-toggle="tooltip"></span> Delete</a>
				  
				   <input type="hidden" name="id" id="id" th:value="${emp.id}" />
				   <input type="hidden" name="name" id="name" th:value="${emp.name}" />
				   <input type="hidden" name="email" id="email" th:value="${emp.email}" />
				   <input type="hidden" name="address" id="address" th:value="${emp.address}" />
				   <input type="hidden" name="phone" id="phone" th:value="${emp.phone}" />
				  </div>
				</td>
			  </tr>
			  
			</tbody>
		  </table>
	
	</div>
	
	</section>
	<!--add modal new employee-->
	<div id="addEmployeeModal" class="modal fade">
	 <div class="modal-dialog">
	 <div class="modal-content">
	  <form th:action="@{/employee/save-employees}" th:object="${employee}" method="POST">
	   <div class="modal-header">
	    <h4 class="modal-title text-center">Add Employee</h4>
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	   </div>
	   <div class="modal-body">
	    <div class="form-group">
	    <label for="">Name</label>
	    <input type="text" name="name" th:value="${name}" class="form-control" required />
	    </div>
	    <div class="form-group">
	    <label for="email">Email</label>
	    <input type="text" name="email" th:value="${email}" class="form-control" required/>	
	    </div>
	    <div class="form-group">
	    <label for="address">Address</label>	
	    <textarea name="address" id="address" th:value="${address}" cols="10" rows="5" class="form-control" required></textarea>
	   
	    </div>
	    <div class="form-group">
	    <label for="phone">Phone</label>	
	    <input type="text" name="phone" th:value="${phone}" class="form-control" required/>
	    </div>
	    
	   </div>
	   <div class="modal-footer">
	   <input type="submit" class="btn btn-default btn-md" value="cancel" data-dismiss="modal"/>
	   <input type="submit" class="btn btn-success btn-md" value="save"/>
	   </div>
	  </form>
	 </div>
	 </div>
	</div>
	
	<!--update modal new employee-->
	<div id="updateEmployeeModal" class="modal fade">
	 <div class="modal-dialog">
	 <div class="modal-content">
	  <form th:action="@{/employee/update-employees}" th:object="${employee}" method="POST">
	   <div class="modal-header">
	    <h4 class="modal-title text-center">Update Employee</h4>
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	   </div>
	   <div class="modal-body">
	   <input type="hidden" name="id" id="id_em" th:value="${id}" class="form-control" required />
	    <div class="form-group">
	    <label for="">Name</label>
	    <input type="text" name="name" id="name_em" th:value="${name}" class="form-control" required />
	    </div>
	    <div class="form-group">
	    <label for="email">Email</label>
	    <input type="text" name="email" id="email_em" th:value="${email}" class="form-control" required/>	
	    </div>
	    <div class="form-group">
	    <label for="address">Address</label>	
	    <textarea name="address" id="address_em" th:value="${address}" cols="10" rows="5" class="form-control" required></textarea>
	   
	    </div>
	    <div class="form-group">
	    <label for="phone">Phone</label>	
	    <input type="text" name="phone" id="phone_em" th:value="${phone}" class="form-control" required/>
	    </div>
	    
	   </div>
	   <div class="modal-footer">
	   <input type="submit" class="btn btn-default btn-md" value="cancel" data-dismiss="modal"/>
	   <input type="submit" class="btn btn-success btn-md" value="update"/>
	   </div>
	  </form>
	 </div>
	 </div>
	</div>
	
	<!--delete modal new employee-->
	<div id="deleteEmployeeModal" class="modal fade">
	 <div class="modal-dialog">
	 <div class="modal-content">
	  <form th:action="@{/employee/delete-employees}" th:object="${employee}" method="POST">
	   <div class="modal-header">
	    <h4 class="modal-title text-center">Delete Employee</h4>
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	   </div>
	   <div class="modal-body">
	   <input type="hidden" name="id"  id="id_emp" th:value="${id}" class="form-control" required />
	    <p>Are you sure you want delete?!</p>
	    <p class="text-warning"><small>this action cannot be undone.</small></p>
	   </div>
	   <div class="modal-footer">
	   <input type="submit" class="btn btn-default btn-md" value="cancel" data-dismiss="modal"/>
	   <input type="submit" class="btn btn-danger btn-md" value="delete"/>
	   </div>
	  </form>
	 </div>
	 </div>
	</div>
	
	<footer id="hostTag" th:replace="layout/footer::footer"> </footer>
    <script>
    $(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
	$('table #delete').on('click',function(){
		var id=$(this).parent().find('#id').val();
		
		$('#deleteEmployeeModal #id_emp').val(id);
	});
	
	$('table #update').on('click',function(){
		var id=$(this).parent().find('#id').val();
		var name=$(this).parent().find('#name').val();
		var email=$(this).parent().find('#email').val();
		var address=$(this).parent().find('#address').val();
		var phone=$(this).parent().find('#phone').val();
		
		$('#updateEmployeeModal #id_em').val(id);
		$('#updateEmployeeModal #name_em').val(name);
		$('#updateEmployeeModal #email_em').val(email);
		$('#updateEmployeeModal #address_em').val(address);
		$('#updateEmployeeModal #phone_em').val(phone);
		
	});
    });
    </script>

</body>
</html>